div.mainContainer {
    padding-right: 150px;
    padding-left: 150px;
    margin-right: auto;
    margin-left: auto;
    margin-top: 20px;
}

div.search {
    margin: 0 auto;
    text-align: center;
}

.ui-inputfield {
    width: 500px;
    height: 30px;
}

.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    height: 50px;
    width: 100%;
    color: #000000;
    background: #EBEDF0;
    font-size:1.1em;
    text-align: center;
    line-height:50px;
    font-family: "latoregular", "Trebuchet MS", Arial, Helvetica, sans-serif !important;
}