/*.visibility.example .overlay {
    background-color: #FFFFFF;
    padding: 0em;
    box-shadow: 0px 0px 0px rgba(0, 0, 0, 0);
    transition: all 0.5s ease;
    background: transparent;
}

!* change style *!
.visibility.example .fixed.overlay {
    position: fixed;
    padding: 1em;
    box-shadow: 0px 0px 6px rgba(0, 0, 0, 0.2);
}*/
/*
.main.menu {
    margin-top: 4em;
    border-radius: 0;
    border: none;
    box-shadow: none;
    transition: box-shadow 0.5s ease,
    padding 0.5s ease;
}

.main.menu .item img.logo {
    margin-right: 1.5em;
}

.overlay {
    float: left;
    margin: 0em 3em 1em 0em;
}

.overlay .menu {
    position: relative;
    left: 0;
     transition: left 0.5 s ease;

}

.main.menu.fixed {
    background-color: #FFFFFF;
    border: 1px solid #DDD;
    box-shadow: 0px 3px 5px rgba(0, 0, 0, 0.2);
}

.overlay.fixed .menu {
    left: 800px;
}*/

/*.bg-image {
    position: relative;
}

.bg-image img {
    display: block;
    width: 100%;
    max-width: 1200px; !* corresponds to max height of 450px *!
    margin: 0 auto;
}

.bg-image h1 {
    position: absolute;
    text-align: center;
    bottom: 0;
    left: 0;
    right: 0;
    color: white;
}*/

/*.ui-widget, .ui-widget-header, .ui-widget-content, .ui-widget-header .ui-widget-header, .ui-widget-content .ui-widget-content, .ui-widget input, .ui-widget select, .ui-widget textarea, .ui-widget button {
    font-size: 100% !important;
}

div.mainContainer {
    width: 1170px;
}

.greenStyleCogs .fa-cogs {
    color: green !important;
}

.defaultStyleCogs .fa-cogs {
    color: black !important;
}

.fa {
    font-size: small !important;
}

.greenStylePie .fa-pie-chart {
    color: green !important;
}

.defaultStylePie .fa-pie-chart {
    color: black !important;
}

.ct-label {
    fill: black !important;
    color: black !important;
    font-size: 1rem !important;
    font-family: "latoregular", "Trebuchet MS", Arial, Helvetica, sans-serif !important;
    line-height: 1;
}

!*
.smallButton .ui-button-text {
    font-size: 11px;
    background-color: gainsboro !important;
    border: none !important;
    font-weight: normal !important;
}
*!

.ui-button, button.ui-button.ui-state-default, .ui-button.ui-state-default {
    color: #000000;

}

.ui-toolbar .ui-widget .ui-widget-header .ui-corner-all .ui-helper-clearfix {
    padding-right: 15px !important;
    padding-left: 15px !important;
    margin-right: auto !important;
    margin-left: auto !important;
}

.ui-widget button.ui-state-default {
    background-color: transparent !important;
    border: none !important;
    font-weight: normal !important;
    color: #000000 !important;
}

.greenStyleBarInc .fa-bar-chart {
    color: green !important;
}

.redStyleBarInc .fa-bar-chart {
    color: red !important;
}

.defaultStyleBarInc .fa-bar-chart {
    color: black !important;
}

body {
    margin: 0px !important;
}

div.mainContainer {
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}

.chart1 .ct-chart .ct-series.ct-series-a .ct-slice-pie:not(.ct-donut) {
    fill: #0F7C14;
}

.chart1 .ct-chart .ct-series.ct-series-b .ct-slice-pie:not(.ct-donut) {
    fill: #80F37B;
}

.className {
    position: relative;
    margin: 0 auto;

}

.chart2 .ct-chart .ct-series.ct-series-a .ct-slice-pie:not(.ct-donut) {
    fill: #eb0003;
}

.chart2 .ct-chart .ct-series.ct-series-b .ct-slice-pie:not(.ct-donut) {

    fill: #FF9C81;
}

.ct-bar {
    stroke-width: 140px
}

.barChartIncome .ct-chart .ct-series.ct-series-b .ct-bar, .ct-chart .ct-series.ct-series-b .ct-line, .ct-chart .ct-series.ct-series-b .ct-point, .ct-chart .ct-series.ct-series-b .ct-slice-pie.ct-donut {
    stroke: #99F595;
}

.barChartIncome .ct-chart .ct-series.ct-series-a .ct-bar, .ct-chart .ct-series.ct-series-a .ct-line, .ct-chart .ct-series.ct-series-a .ct-point, .ct-chart .ct-series.ct-series-a .ct-slice-pie.ct-donut {
    stroke: #0F7C14;
}

.barChartOutcome .ct-chart .ct-series.ct-series-b .ct-bar, .ct-chart .ct-series.ct-series-b .ct-line, .ct-chart .ct-series.ct-series-b .ct-point, .ct-chart .ct-series.ct-series-b .ct-slice-pie.ct-donut {
    stroke: #FF9C81;
}

.barChartOutcome .ct-chart .ct-series.ct-series-a .ct-bar, .ct-chart .ct-series.ct-series-a .ct-line, .ct-chart .ct-series.ct-series-a .ct-point, .ct-chart .ct-series.ct-series-a .ct-slice-pie.ct-donut {
    stroke: #eb0003;
}

span.ct-label.ct-vertical.ct-start {
    width: 50px;
    display: inline !important;

}

span.ct-label.ct-horizontal.ct-start {
    height: 22px !important;

}

body {
    background-color: whitesmoke !important;
}

.firstIncomePanel .ui-panel .ui-panel-title {
    color: #0F7C14 !important;
}

.firstOutcomePanel .ui-panel .ui-panel-title {
    color: #eb0003 !important;
}

.thirdLevelIncome {
    background: #c0f5cd !important;
}

.secondLevelIncome {
    background: #e2f5df !important;
}

.fourthLevelIncome {
    background: #aaf5af !important;
}

.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    height: 50px;
    width: 100%;
    color: #000000;
    background: #EBEDF0;
    font-size: 1.1em;
    text-align: center;
    line-height: 50px;
    font-family: "latoregular", "Trebuchet MS", Arial, Helvetica, sans-serif !important;
}

.thirdLevelOutcome {
    background: #f5dcca !important;
}

.secondLevelOutcome {
    background: #f5e7df !important;
}

.fourthLevelOutcome {
    background: #f5bdab !important;
}

@media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
    span.ct-label.ct-horizontal.ct-start {
        height: 14px !important;

    }

    .ct-label {
        fill: black !important;
        color: black !important;
        font-size: 0.7rem !important;
        font-family: "latoregular", "Trebuchet MS", Arial, Helvetica, sans-serif !important;
        line-height: 1;
        overflow: visible !important;
    }

}

.slider .indicators .indicator-item {
    background-color: #666666;
    border: 3px solid #ffffff;
    -webkit-box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
    -moz-box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
}

.slider .indicators .indicator-item.active {
    background-color: #ffffff;
}

.slider .indicators {
    bottom: 60px;
    z-index: 100;
    !* text-align: left; *!
}

nav {
    box-shadow: none !important;
    display: inline-block !important;
    list-style-type: none !important;
    margin: 0 auto;
}

nav ul a {
    font-weight: bold !important;
}

.right {
    margin-right: 100px;
    margin-top: 20px;
}

.slider .slides li .caption {
    top: 35% !important;
}*/

.hidden.menu {
    display: none;
}

.masthead.segment {
    min-height: 700px;
    padding: 1em 0em;
}

.masthead .logo.item img {
    margin-right: 1em;
}

.masthead .ui.menu .ui.button {
    margin-left: 0.5em;
}

.masthead h1.ui.header {
    margin-top: 3em;
    margin-bottom: 0em;
    font-size: 4em;
    font-weight: normal;
}

.masthead h2 {
    font-size: 1.7em;
    font-weight: normal;
}

.ui.vertical.stripe {
    padding: 8em 0em;
}

.ui.vertical.stripe h3 {
    font-size: 2em;
}

.ui.vertical.stripe .button + h3,
.ui.vertical.stripe p + h3 {
    margin-top: 3em;
}

.ui.vertical.stripe .floated.image {
    clear: both;
}

.ui.vertical.stripe p {
    font-size: 1.33em;
}

.ui.vertical.stripe .horizontal.divider {
    margin: 3em 0em;
}

.quote.stripe.segment {
    padding: 0em;
}

.quote.stripe.segment .grid .column {
    padding-top: 5em;
    padding-bottom: 5em;
}

.footer.segment {
    padding: 5em 0em;
}

.secondary.pointing.menu .toc.item {
    display: none;
}

@media only screen and (max-width: 700px) {
    .ui.fixed.menu {
        display: none !important;
    }

    .secondary.pointing.menu .item,
    .secondary.pointing.menu .menu {
        display: none;
    }

    .secondary.pointing.menu .toc.item {
        display: block;
    }

    .masthead.segment {
        min-height: 350px;
    }

    .masthead h1.ui.header {
        font-size: 2em;
        margin-top: 1.5em;
    }

    .masthead h2 {
        margin-top: 0.5em;
        font-size: 1.5em;
    }
}