.ui-widget, .ui-widget-header, .ui-widget-content, .ui-widget-header .ui-widget-header, .ui-widget-content .ui-widget-content, .ui-widget input, .ui-widget select, .ui-widget textarea, .ui-widget button {
    font-size: 100% !important;
}

div.mainContainer {
    width: 1170px;
}

div.mainContainer {
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}

.ct-chart .ct-series.ct-series-a .ct-area, .ct-chart .ct-series.ct-series-a .ct-slice-pie:not(.ct-donut) {
    fill: #0F7C14;
}

.ct-chart .ct-series.ct-series-b .ct-area, .ct-chart .ct-series.ct-series-b .ct-slice-pie:not(.ct-donut) {
    fill: #80F37B;
}

.className {
    position: relative;
    margin: 0 auto;

}
